body {
  color: #363D45;
  background-color: #FFF;
  font-family: monospace;
  font-size: 1.2em;
}

#preamble, #content {
  max-width: 60em;
  margin: auto;
}

/* -- Tables -- */

table {
  border-spacing: 5px;
}

td, th { vertical-align:top }
th.org-right { text-align: center }
th.org-left { text-align: left }
th.org-center { text-align: center }
td.org-right { text-align: right }
td.org-left { text-align: left }
td.org-center { text-align: center }

/* -- Horizontal line -- */

hr { border: 1px solid #EBEBEB }

/* -- Headings -- */

h1 { font-size: 38px }
h2 { font-size: 31px }
h3 { font-size: 26px }
h4 { font-size: 22px }
h5 { font-size: 18px }
h6 { font-size: 14px }

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: 500;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: unset;
  text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none
}

h2 a:hover::before,
h3 a:hover::before,
h4 a:hover::before,
h5 a:hover::before,
h6 a:hover::before {
  content: "# ";
  color: #CCCCCC;
}

/* -- Quotes -- */

blockquote {
  margin: 20px;
  max-width: 75ch;
  padding-left: 20px;
  overflow: hidden;
  border-left: 0.2em solid #5C5D8D;
}

/* -- Source code -- */

pre {
  line-height: initial;
  overflow: auto;
  margin: 0;
  padding: 1.0em;
  background-color: #FAFAFA;
  color: #5C5D8D;
  border: 0;
  border-left: 2px dashed #9C9DBF;
}

pre.src {
  position: relative;
  overflow: auto;
}

code { color: #718F94 }

.org-src-name {
  display: block;
  color: #CCCCCC;
  font-size: 0.9em;
  text-align: right;
}

.org-src-name > .listing-number {
  display: none
}

/* -- Links -- */

a {
  color: #5C5D8D;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline
}

/* -- Figures -- */

div.figure p {
  text-align: center
}

/* -- Navigation -- */

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline
}

.navigation li + li::before {
  content: " > ";
  color: #CCCCCC;
}

/* -- Figures -- */

.figure { padding: 1em }
.figure p { text-align: center }

/* -- Mathematical equations -- */

.equation-container {
  display: table;
  text-align: center;
  width: 100%;
}

.equation {
  vertical-align: middle
}

.equation-label {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

/* -- Captions -- */

caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }

/* -- Projects -- */

.project-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 700px) {
  .project-wrapper {
    grid-template-columns: 1fr;
  }
}

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.project > * {
  margin: 0
}

.project-title, .project-link {
  align-self: start;
  font-weight: 300;
}

/* -- Properties -- */

.properties ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #EBEBEB;
  padding-left: 1.0em;
}

.properties ul li {
  display: inline;
  font-size: 0.9em;
  color: #636F7E;
}

.properties ul .START_DATE::after {
  content: " — "
}

.properties ul .TYPE::before {
  content: "—"
}

.properties ul .LOCATION,
.properties ul .STUDY {
  display: block
}

/* -- Text -- */
p, li {
  line-height: 1.8em
}

/* -- Miscellaneous -- */
.title { margin-bottom: .2em }

.subtitle {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin-top:0;
}

.tag {
  background-color: #eee;
  padding: 2px;
  font-size: 80%;
  font-weight: normal;
}

.todo { color: #DBB1AF }
.done { color: #90B494 }
.priority { color: #DBCFB0 }
.timestamp { color: #CCCCCC }
.timestamp-kwd { color: #5F9EA0 }
.underline { text-decoration: underline }
.footpara { display: inline }
.footdef { margin-bottom: 1em }
.linenr { font-size: smaller }
.inlinetask {
  padding: 10px;
  border: 2px solid gray;
  margin: 10px;
  background: #ffffcc;
}

p.verse { margin-left: 3%; }
dt { font-weight: bold; }

/* -- Org specific -- */

#org-div-home-and-up {
  text-align: right;
  font-size: 70%;
  white-space: nowrap;
}

.org-svg { width: 90%; }

.org-right  {
  margin-left: auto;
  margin-right: 0px;
  text-align: right;
}

.org-left   {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
}

.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
