body {
    font-size: 1rem;
    font-family: monospace;
    background-color: white;
    color: #363D45;
    line-height: 1.7em;
}

/* -- Horizontal line -- */

hr {
    border: 1px solid #EBEBEB;
}

/* -- Headings -- */

h2 { font-size: 1.8em }

h3 { font-size: 1.6em }

h4 { font-size: 1.2em }

h5 { font-size: 1.2em }

/* -- Quotes -- */

blockquote {
    margin: 20px;
    max-width: 75ch;
    padding-left: 20px;
    overflow: hidden;
    border-left: 0.2em solid #5C5D8D;
}

/* -- Source code -- */

pre {
    font-family: monospace;
    background-color: #FAFAFA;
    border: 0;
    border-left: 2px dashed #9C9DBF;
    color: #5C5D8D;
    border-radius: 0;
    line-height: initial;
    margin: 0;
    padding-left: 1.5em;
}

pre.src:hover:before {
    font-size: 0;
}

code {
    color: #5C5D8D;
}

.org-src-name {
    display: block;
    color: #CCCCCC;
    font-size: 0.9em;
    text-align: right;
}

.org-src-name > .listing-number {
    display: none;
}

/* -- Links -- */

a {
    color: #5C5D8D;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration: underline
}

/* -- Content -- */

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* -- Figures -- */

div.figure p {
    text-align: center
}

/* -- Navigation -- */

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline
}

.navigation li + li::before {
    content: " ; ";
    color: #CCCCCC;
}

/* -- Tags -- */

.tag {
    display: block;
    background-color: unset;
    line-height: 3em;
}

.tag > span {
    background-color: #F5F5F5;
    padding: 4px;
}

/* -- Projects -- */

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 700px) {
    .project-wrapper {
	grid-template-columns: 1fr;
    }
}

.project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

.project > * {
    margin: 0;
}

.project-title + .project-description {
    margin-bottom: 16px;
}

.project-title, .project-link {
    align-self: start;
    font-weight: 300;
}

/* -- Properties -- */

.properties ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.properties ul li {
    display: inline;
    font-size: 0.9em;
}

.properties ul .START_DATE::before, .POSITION::before {
    content: "+";
}

.properties ul .START_DATE::after {
    content: " - ";
}

.properties ul .POSITION {
    display: block;
}

.POSITION, .START_DATE, .END_DATE {
    color: #B8B8B8;
}
