[submodule "src/dotfiles"]
	path = src/dotfiles
	url = https://git.sr.ht/~grtcdr/dotfiles
	shallow = true
	branch = main
[submodule "lisp/liaison"]
	path = lisp/liaison
	url = https://github.com/grtcdr/liaison
	shallow = true
	branch = main
[submodule "src/cv"]
	path = src/cv
	url = https://github.com/grtcdr/cv
[submodule "assets/csl/styles"]
	path = assets/csl/styles
	url = https://github.com/citation-style-language/styles.git
[submodule "assets/csl/locales"]
	path = assets/csl/locales
	url = https://github.com/citation-style-language/locales.git
