[submodule "dotfiles"]
	path = dotfiles
	url = https://git.sr.ht/~grtcdr/dotfiles
[submodule "lisp/htmlize"]
	path = lisp/htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "forgecast"]
	path = lisp/forgecast
	url = https://github.com/grtcdr/forgecast.git
