// Copyright 2022 Aziz Ben Ali

// Permission to use, copy, modify, and/or distribute this software for
// any purpose with or without fee is hereby granted, provided that the
// above copyright notice and this permission notice appear in all
// copies.

// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
// WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
// AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
// DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
// PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
// TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
// PERFORMANCE OF THIS SOFTWARE.

h1 { font-size: 1.6em }
h2 { font-size: 1.4em  }
h3 { font-size: 1.35em }
h4 { font-size: 1.25em }
h5 { font-size: 1.16em }
h6 { font-size: 1.08em }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;

  & > a {
    color: unset;
    text-decoration: none;
  }
}

span[class^='section-number'] {
  font-size: 0.75em;
  user-select: none;
}
