h1 { font-size: 1.6em  }
h2 { font-size: 1.4em  }
h3 { font-size: 1.35em }
h4 { font-size: 1.25em }
h5 { font-size: 1.16em }
h6 { font-size: 1.08em }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;

  & > a {
    color: unset;
    text-decoration: none;
  }
}

span[class^='section-number'] {
  font-size: 0.75em;
  user-select: none;
}
