// Copyright 2022 Aziz Ben Ali

// Permission to use, copy, modify, and/or distribute this software for
// any purpose with or without fee is hereby granted, provided that the
// above copyright notice and this permission notice appear in all
// copies.

// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
// WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
// AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
// DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
// PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
// TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
// PERFORMANCE OF THIS SOFTWARE.

.tag {
  display: block;
  font-style: italic;
  font-size: 0.7em;
  color: var(--blue);
}

.todo { color: var(--red); }
.done { color: var(--green); }
.priority { color: var(--yellow); }
.timestamp { color: var(--blue); }
.timestamp-kwd { color: var(--blue); }
.underline { text-decoration: underline }
.footpara { display: inline }
.footdef { margin-bottom: 1em }
.inlinetask {
  padding: 10px;
  margin: 10px;
}
