// Copyright 2022 Aziz Ben Ali

// Permission to use, copy, modify, and/or distribute this software for
// any purpose with or without fee is hereby granted, provided that the
// above copyright notice and this permission notice appear in all
// copies.

// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
// WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
// AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
// DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
// PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
// TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
// PERFORMANCE OF THIS SOFTWARE.

pre {
  position: relative;
  font-size: 120%;
  overflow: auto;
  margin: 0;
  padding: 1em;
  background-color: var(--bg01);
}

.linenr {
  user-select: none;
}

.org-src-name {
  display: block;
  font-size: 90%;
  padding: 0.40em;
  color: var(--fg02);
  background-color: var(--bg02);

  > .listing-number { display: none }
}

.org-builtin                   { color: var(--builtin) }
.org-comment                   { color: var(--comment) }
.org-comment-delimiter         { color: var(--comment-delimiter) }
.org-constant                  { color: var(--constant) }
.org-doc                       { color: var(--doc) }
.org-function-name             { color: var(--function-name) }
.org-keyword                   { color: var(--keyword) }
.org-string                    { color: var(--string) }
.org-nxml-attribute-local-name { color: var(--attribute) }
.org-nxml-element-local-name   { color: var(--function-name) }
.org-nxml-tag-delimiter        { color: var(--comment) }
.org-nxml-tag-slash            { color: var(--comment) }
