h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.84em;
}
h5 {
  font-size: 1.72em;
}
h6 {
  font-size: 1.53em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: sans-serif;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: unset;
  text-decoration: none;
}
span[class^='section-number'] {
  color: #CCCCCC;
  font-size: 0.75em;
}
body {
  color: #363D45;
  background-color: #FFFFFF;
  font-family: sans-serif;
  margin-top: 6em;
  margin-bottom: 6em;
}
#preamble,
#content,
#postamble {
  max-width: 58vw;
  margin: auto;
}
hr {
  border: 1px solid #EBEBEB;
}
p {
  line-height: 1.7em;
}
a {
  color: #363D45;
  text-decoration-style: dotted;
}
a:hover {
  background-color: #EBEBEB;
  transition: background-color 0.2s;
}
blockquote {
  margin: 0;
  font-size: 1.32em;
  text-align: center;
  quotes: "“" "”" "‘" "’";
  color: #363D45;
}
blockquote::before,
blockquote::after {
  font-size: 1.4em;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote p {
  display: inline;
  font-style: italic;
}
li {
  line-height: 1.8em;
}
img {
  margin: auto;
  display: block;
}
#preamble {
  color: #363D45;
}
.metadata {
  font-family: monospace;
  font-weight: 300;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  border-bottom: 0.1em dotted #363D45;
}
.navigation a {
  text-decoration: none;
  font-family: monospace;
}
.navigation li {
  display: inline;
  font-size: 1.4em;
  font-weight: 600;
}
.navigation li:not(:last-child) {
  padding-right: 1em;
}
.org-svg {
  width: 90%;
}
.org-right {
  margin-left: auto;
  margin-right: 0px;
  text-align: right;
}
.org-left {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
}
.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.tag {
  display: block;
  color: #A2AEAE;
  font-style: italic;
  font-size: 0.7em;
}
.todo {
  color: #DBB1AF;
}
.done {
  color: #90B494;
}
.priority {
  color: #DBCFB0;
}
.timestamp {
  color: #A2AEAE;
}
.timestamp-kwd {
  color: #A2AEAE;
}
.underline {
  text-decoration: underline;
}
.footpara {
  display: inline;
}
.footdef {
  margin-bottom: 1em;
}
.linenr {
  font-size: smaller;
}
.inlinetask {
  padding: 10px;
  margin: 10px;
}
.figure {
  padding: 1em;
}
figcaption {
  text-align: center;
}
pre {
  line-height: initial;
  font-family: monospace;
  overflow: auto;
  margin: 0;
  padding: 1em;
  background-color: #FAFAFA;
  border-left: 2px dashed #EBEBEB;
}
pre.src {
  position: relative;
  overflow: auto;
}
code {
  color: #A3A3A3;
}
.org-src-name {
  display: block;
  font-family: monospace;
  padding: 0.3em;
  color: #A3A3A3;
  background-color: #EBEBEB;
}
.org-src-name > .listing-number {
  display: none;
}
.title {
  margin-bottom: 0.2em;
}
.subtitle {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
}
caption.t-above {
  caption-side: top;
}
caption.t-bottom {
  caption-side: bottom;
}
table {
  border-spacing: 5px;
}
td,
th {
  vertical-align: top;
}
th.org-right {
  text-align: center;
}
th.org-left {
  text-align: left;
}
th.org-center {
  text-align: center;
}
td.org-right {
  text-align: right;
}
td.org-left {
  text-align: left;
}
td.org-center {
  text-align: center;
}
.properties ul {
  list-style: none;
  text-align: left;
  border-left: 0.24em solid #EBEBEB;
  padding: 0.48em;
  margin: 0;
}
.properties ul li {
  display: block;
  color: #A2AEAE;
}
