@import "def";

nav {
  padding-top: 0.2em;

  > ul {
    list-style-type: none;
    padding: 0;
    
    li {
      display: inline-block;
      font-size: 1.25em;
      font-weight: 300;
      
    > a {
	text-transform: uppercase;
	text-decoration: none;
	color: @blue;
      }
    }

    li + li:before {
      content: '|';
      color: @fg01;
      padding: 0 0.4em;
    }
  }
}
