@import "def";

.tag {
  display: block;
  color: @blue;
  font-style: italic;
  font-size: 0.7em;
}

.todo { color: @red }
.done { color: @green }
.priority { color: @yellow }
.timestamp { color: @blue }
.timestamp-kwd { color: @blue }
.underline { text-decoration: underline }
.footpara { display: inline }
.footdef { margin-bottom: 1em }
.linenr { font-size: smaller }
.inlinetask {
  padding: 10px;
  margin: 10px;
}
