// =========== Colors

@accent00: #8A89A6;
@accent01: #9C9DBF;
@accent02: #5C5D8D;
@fg00:     #CCCCCC;
@fg01:     #363D45;
@bg00:     #FFFFFF;
@bg01:     #FAFAFA;
@bg02:     #EBEBEB;
@red:      #DBB1AF;
@yellow:   #DBCFB0;
@blue:     #A2AEAE;
@green:    #90B494;    

// =========== Base

body {
  color: @fg01;
  background-color: @bg00;
  font-family: serif;
}

#preamble, #content {
  max-width: 60em;
  margin: auto;
}

hr {
  border: 1px solid @bg02
}

blockquote {
  overflow: hidden;
  max-width: 80ch;
  margin: 0.6em;
  padding-left: 1em;
  border-left: 0.2em solid @accent01;
}

a {
  color: @accent02;
  text-decoration: none;
  &:hover {
    text-decoration: underline
  }
}

p {
  line-height: 1.6em
}

li {
  line-height: 1.8em
}

img {
  margin: auto;
  display: block;
}

// =========== Properties

.properties ul {
  list-style: none;
  text-align: left;
  border-left: 0.2em solid @bg02;
  padding-left: 1em;
  margin: 0.6em;

  li {
    display: inline;
    color: @blue;
  }

  .START_DATE + .END_DATE::before,
  .TYPE::before {
    content: "-"
  }

  .LOCATION, .STUDY {
    display: block
  }
}

// =========== Navigation

.navigation {
  padding: 0;
  margin-top: 30px;
  border-bottom: 1px solid @bg02;
  padding-bottom: 8px;

  li {
    display: inline;
  }
}

.navigation li + li::before {
  content: '‧';
  padding: 0.4em;
  color: @bg02;
}

// =========== Org

.org-svg { width: 90%; }

.org-right  {
  margin-left: auto;
  margin-right: 0px;
  text-align: right;
}

.org-left   {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
}

.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tag {
  background-color: @blue;
  padding: 2px;
  font-size: 80%;
  font-weight: normal;
}

.todo { color: @red }
.done { color: @green }
.priority { color: @yellow }
.timestamp { color: @blue }
.timestamp-kwd { color: @blue }
.underline { text-decoration: underline }
.footpara { display: inline }
.footdef { margin-bottom: 1em }
.linenr { font-size: smaller }
.inlinetask {
  padding: 10px;
  margin: 10px;
}

// =========== Figures

.figure {
  padding: 1em;
}

figcaption {
  text-align: center
}

// =========== Source

pre {
  line-height: initial;
  font-family: monospace;
  overflow: auto;
  margin: 0;
  padding: 1.0em;
  background-color: #FAFAFA;
  color: #5C5D8D;
  border: 0;
  border-left: 2px dashed #9C9DBF;
}

pre.src {
  position: relative;
  overflow: auto;
}

code {
  color: #8A89A6
}

.org-src-name {
  display: block;
  color: #CCCCCC;
  font-size: 0.9em;
  text-align: right;

  > .listing-number {
    display: none
  }
}

// =========== Text

.title {
  margin-bottom: .2em
}

.subtitle {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin-top:0;
}

caption.t-above {
  caption-side: top
}

caption.t-bottom {
  caption-side: bottom
}

// =========== Tables

table {
  border-spacing: 5px;
}

td, th { vertical-align:top }
th.org-right { text-align: center }
th.org-left { text-align: left }
th.org-center { text-align: center }
td.org-right { text-align: right }
td.org-left { text-align: left }
td.org-center { text-align: center }

// =========== Headers

h1 { font-size: 38px }
h2 { font-size: 31px }
h3 { font-size: 26px }
h4 { font-size: 22px }
h5 { font-size: 18px }
h6 { font-size: 14px }

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: unset;
    text-decoration: none;
    &:hover {
      text-decoration: none
    }
    &:hover::before {
      content: "# ";
      color: #CCCCCC;
    }
  }
}

span[class^='section-number'] {
  color: #CCCCCC;
  font-size: 0.75em;
}
